body {
	background-color: #29BDE0 !important;
}

.container-fluid {
	text-align: center;
}

.navbar {
	background-color: #29BDE0;
}

.menu {
	display: block;
	width: 30px; height: 30px;
    background: url('../imgs/vote_sprites.png') -60px -60px;
    margin: 10px;
    float: left;
}

.title {
	color: #FFFFFF;
	font-size: 1.5em;
	line-height: 50px;
	letter-spacing: 0.2em;
}

.close {
	display: block;
	width: 27px; height: 27px;
    background: url('../imgs/vote_sprites.png') -110px -57px;
    opacity: unset !important;
    margin: 10px;
}

.play {
	margin-top: 50px;
/*	width:100%;
	height: 50px;
	background-color: #B9E9F5;*/
}

.bubble {
	width:100%;
	height: 50px;
	background-color: #B9E9F5;
	position: relative;
}

.bubble:after {
	content: "";
	position: absolute;
    border-left: 6px solid transparent;
    border-top: 12px solid #B9E9F5;
    border-right: 6px solid transparent;
    top: 50px;
    left: 3.5em;
}

.play-text {
	line-height: 50px;
	margin: 0 2em;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}

.hint {
	color: #FFFFFF;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	margin: 1em 3.5em;
}

.audio-start {
	display: block;
	width: 26px; height: 26px;
    background: url('../imgs/vote_sprites.png') -10px -110px;
    float: right;
    position: relative;
    bottom: 2.7em;
    right: 1em;
}

.footer {
	height: 90px;
}

.btn {
	width: 80%;
	border-radius: 0 !important;
	color: #FFFFFF;
	background-color: #FAB339;
	margin-top: 25px;
}

.content {
	width: 5em;
	height: 5.5em;
	margin: 0 auto;
	border: 4px solid #FFFFFF;
	background-color: #F4C87C;
	text-align: center;
}

.number {
	display: block;
	width: 5.1em;
	height: 1.1em;
	background-color: #82AF99;
	color: #FFFFFF;
	font-size: 0.5em;
}

.identity {
	line-height: 4em;
}

.row {
	padding-bottom: 3em;
}