.bg-audio_start {
    width: 26px; height: 26px;
    background: url('../imgs/vote_sprites.png') -10px -110px;
}

.bg-close {
    width: 27px; height: 27px;
    background: url('../imgs/vote_sprites.png') -110px -57px;
}

.bg-icon_1 {
    width: 30px; height: 30px;
    background: url('../imgs/vote_sprites.png') -10px -10px;
}

.bg-icon_2 {
    width: 28px; height: 27px;
    background: url('../imgs/vote_sprites.png') -110px -10px;
}

.bg-icon_3 {
    width: 30px; height: 30px;
    background: url('../imgs/vote_sprites.png') -60px -10px;
}

.bg-icon_4 {
    width: 30px; height: 30px;
    background: url('../imgs/vote_sprites.png') -10px -60px;
}

.bg-menu {
    width: 30px; height: 30px;
    background: url('../imgs/vote_sprites.png') -60px -60px;
}