.bg-audio_start {
    width: 26px; height: 26px;
    background: url('../imgs/vote_sprites.png') -10px -60px;
}

.bg-close {
    width: 27px; height: 27px;
    background: url('../imgs/vote_sprites.png') -60px -10px;
}

.bg-icon_1 {
    width: 16px; height: 16px;
    background: url('../imgs/vote_sprites.png') -56px -60px;
}

.bg-icon_2 {
    width: 16px; height: 16px;
    background: url('../imgs/vote_sprites.png') -107px -10px;
}

.bg-icon_3 {
    width: 16px; height: 16px;
    background: url('../imgs/vote_sprites.png') -107px -46px;
}

.bg-icon_4 {
    width: 16px; height: 16px;
    background: url('../imgs/vote_sprites.png') -10px -106px;
}

.bg-menu {
    width: 30px; height: 30px;
    background: url('../imgs/vote_sprites.png') -10px -10px;
}
